# Scraping `zangia.mn`
* You need to import `pandas`, `requests` and `BeautifulSoup`

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Exercise 1: Scrape `zangia.mn` page#1
* Make a dataframe using `Мэдээлэл технологи, Харилцаа холбоо` category `https://www.zangia.mn/job/list/pg.1/b.4`.
* Get job listings from page 1.
  * DataFrame should include columns: `job_title`, `salary`. 
  * Remove the row if `salary` text contains `Тохиролцоно`. 
    * *Hint*: Loop over the df and use `in` and `drop` methods.
  * Take salary as 5000000 if `salary` text contains `5,000,000 -ааc дээш`
  * Import statistics library
  * Get the median salary using statistics library if there is a salary range. Example: 2,500,000-3,500,000 should be 3000000. 
    * Use string replace method to remove comma from numbers.
    * *Hint*: Use string split method to get the numbers. 
  * Make a histogram plot using the `salary`.

In [2]:
response = requests.get('https://www.zangia.mn/job/list/pg.1/b.4')
soup = BeautifulSoup(response.content)

ads = soup.find_all("div", {"class": "ad"})
ads[0].find('b').get_text()

job_titles = []
for ad in ads:
    job_title = ad.find('b').get_text()
    job_titles.append(job_title)

job_titles

['ТӨЛӨВЛӨЛТИЙН ИНЖЕНЕР',
 'Худалдааны зөвлөх',
 'Оффис менежер',
 'ЦАГИЙН АЖИЛ /ТЭСО ИНВЕСТМЭНТ ХХК/',
 'МЭДЭЭЛЭЛ ТЕХНОЛОГИЙН АЖИЛТАН',
 'Борлуулалтын менежер',
 'Сүлжээний инженер',
 'Хөргөлтийн системийн техникч',
 'IT System Analyst',
 'Холбоо дохиололийн инженер',
 'Мэдээллийн аюулгүй байдлын шинжээч',
 'Төслийн менежер',
 'Төслийн менежер',
 'Техникч',
 'ГРАФИК ДИЗАЙНЕР АЖИЛД АВНА.',
 'Мэдээлэл технологийн мэргэжилтэн',
 'Оператор',
 'Сүлжээний инженер',
 'ПРОГРАМ ХӨГЖҮҮЛЭГЧ',
 'Тестэр /Коор майнд ХХК/',
 'Мэдээлэл технологийн ажилтан /support/',
 'ПиАр мэргэжилтэн',
 'Шийдлийн инженер',
 'Суурилуулалтын инженер',
 'Хөгжүүлэгч /Backend/',
 'Систем хөгжүүлэгч',
 'Программ хангамжийн архитектор',
 'Онлайн оператор (эмэгтэй)',
 'IT инженер (Өмнөговь салбар)',
 'ПРОГРАММ ТЕСТЛЭГЧ',
 'Дотоод аудитор /Мэдээлэл технологи/',
 'Төслийн менежер ажилд авна. /Солонгос хэлтэй/',
 'Back end developer',
 'Захиргааны мэргэжилтэн',
 'Ахлах програм хөгжүүлэгч',
 'Дата аналист',
 'Утасны оператор сургаж авна.',
 'Худалдааны зөвлөх_Cургаж авна',
 'Систем админ',
 'Програм хөгжүүлэгч',
 'Мобайл хөгжүүлэгч',
 'Програмын Ахлах хөгжүүлэгч',
 'Санхүүгийн Ахлах мэргэжилтэн',
 'МЭДЭЭЛЛИЙН ОПЕРАТОР',
 'САЙТЫН АШИГЛАЛТ ХАРИУЦСАН ИНЖЕНЕР',
 'СҮЛЖЭЭНИЙ ИНЖЕНЕР',
 'ПРОГРАМ ХӨГЖҮҮЛЭГЧ',
 'ПРОГРАМ ХАНГАМЖИЙН ИНЖЕНЕР - Monpay',
 'Дата инженер',
 'Мэдээллийн ажилтан']

In [7]:
job_salary = soup.find_all("span", {"class":"fsal"})
job_salary = [x.get_text().strip() for x in job_salary]

job_salary

['2,500,000 - 3,000,000',
 '1,500,000 - 1,800,000',
 '1,500,000 - 1,800,000 Тохиролцоно',
 '500,000 - 600,000',
 '1,500,000 - 1,800,000',
 '1,500,000 - 1,800,000 Тохиролцоно',
 '1,500,000 - 1,800,000 Тохиролцоно',
 '1,500,000 - 1,800,000 Тохиролцоно',
 '2,500,000 - 3,000,000',
 '1,500,000 - 1,800,000',
 '3,000,000 - 4,000,000',
 '1,500,000 - 1,800,000',
 '1,500,000 - 1,800,000',
 '1,200,000 - 1,500,000 Тохиролцоно',
 '2,500,000 - 3,000,000',
 '1,800,000 - 2,100,000 Тохиролцоно',
 '1,200,000 - 1,500,000',
 '2,500,000 - 3,000,000',
 '3,000,000 - 4,000,000',
 '1,500,000 - 1,800,000',
 '1,200,000 - 1,500,000',
 '1,800,000 - 2,100,000',
 '2,100,000 - 2,500,000',
 '1,800,000 - 2,100,000',
 '3,000,000 - 4,000,000',
 '3,000,000 - 4,000,000 Тохиролцоно',
 '5,000,000 - 6,000,000',
 '1,000,000 - 1,200,000',
 '1,500,000 - 1,800,000',
 '1,200,000 - 1,500,000',
 '2,500,000 - 3,000,000',
 '1,800,000 - 2,100,000',
 '2,100,000 - 2,500,000',
 '1,800,000 - 2,100,000',
 '3,000,000 - 4,000,000',
 '2,100,000 - 2,500,000',
 '1,200,000 - 1,500,000',
 '1,000,000 - 1,200,000',
 '2,100,000 - 2,500,000',
 '1,500,000 - 1,800,000',
 '1,500,000 - 1,800,000',
 '2,100,000 - 2,500,000',
 '2,100,000 - 2,500,000',
 '1,000,000 - 1,200,000',
 '1,500,000 - 1,800,000',
 '1,500,000 - 1,800,000',
 '2,500,000 - 3,000,000',
 '3,000,000 - 4,000,000 Тохиролцоно',
 '3,000,000 - 4,000,000',
 '1,200,000 - 1,500,000']

In [20]:
df = pd.DataFrame({"Job Titles": job_titles, "Salary": job_salary})
df

,Job Titles,Salary
0,ТӨЛӨВЛӨЛТИЙН ИНЖЕНЕР,"2,500,000 - 3,000,000"
1,Худалдааны зөвлөх,"1,500,000 - 1,800,000"
2,Оффис менежер,"1,500,000 - 1,800,000 Тохиролцоно"
3,ЦАГИЙН АЖИЛ /ТЭСО ИНВЕСТМЭНТ ХХК/,"500,000 - 600,000"
4,МЭДЭЭЛЭЛ ТЕХНОЛОГИЙН АЖИЛТАН,"1,500,000 - 1,800,000"
5,Борлуулалтын менежер,"1,500,000 - 1,800,000 Тохиролцоно"
6,Сүлжээний инженер,"1,500,000 - 1,800,000 Тохиролцоно"
7,Хөргөлтийн системийн техникч,"1,500,000 - 1,800,000 Тохиролцоно"
8,IT System Analyst,"2,500,000 - 3,000,000"
9,Холбоо дохиололийн инженер,"1,500,000 - 1,800,000"
10,Мэдээллийн аюулгүй байдлын шинжээч,"3,000,000 - 4,000,000"
11,Төслийн менежер,"1,500,000 - 1,800,000"
12,Төслийн менежер,"1,500,000 - 1,800,000"
13,Техникч,"1,200,000 - 1,500,000 Тохиролцоно"
14,ГРАФИК ДИЗАЙНЕР АЖИЛД АВНА.,"2,500,000 - 3,000,000"
15,Мэдээлэл технологийн мэргэжилтэн,"1,800,000 - 2,100,000 Тохиролцоно"
16,Оператор,"1,200,000 - 1,500,000"
17,Сүлжээний инженер,"2,500,000 - 3,000,000"
18,ПРОГРАМ ХӨГЖҮҮЛЭГЧ,"3,000,000 - 4,000,000"
19,Тестэр /Коор майнд ХХК/,"1,500,000 - 1,800,000"
20,Мэдээлэл технологийн ажилтан /support/,"1,200,000 - 1,500,000"
21,ПиАр мэргэжилтэн,"1,800,000 - 2,100,000"
22,Шийдлийн инженер,"2,100,000 - 2,500,000"
23,Суурилуулалтын инженер,"1,800,000 - 2,100,000"
24,Хөгжүүлэгч /Backend/,"3,000,000 - 4,000,000"
25,Систем хөгжүүлэгч,"3,000,000 - 4,000,000 Тохиролцоно"
26,Программ хангамжийн архитектор,"5,000,000 - 6,000,000"
27,Онлайн оператор (эмэгтэй),"1,000,000 - 1,200,000"
28,IT инженер (Өмнөговь салбар),"1,500,000 - 1,800,000"
29,ПРОГРАММ ТЕСТЛЭГЧ,"1,200,000 - 1,500,000"
30,Дотоод аудитор /Мэдээлэл технологи/,"2,500,000 - 3,000,000"
31,Төслийн менежер ажилд авна. /Солонгос хэлтэй/,"1,800,000 - 2,100,000"
32,Back end developer,"2,100,000 - 2,500,000"
33,Захиргааны мэргэжилтэн,"1,800,000 - 2,100,000"
34,Ахлах програм хөгжүүлэгч,"3,000,000 - 4,000,000"
35,Дата аналист,"2,100,000 - 2,500,000"
36,Утасны оператор сургаж авна.,"1,200,000 - 1,500,000"
37,Худалдааны зөвлөх_Cургаж авна,"1,000,000 - 1,200,000"
38,Систем админ,"2,100,000 - 2,500,000"
39,Програм хөгжүүлэгч,"1,500,000 - 1,800,000"
40,Мобайл хөгжүүлэгч,"1,500,000 - 1,800,000"
41,Програмын Ахлах хөгжүүлэгч,"2,100,000 - 2,500,000"
42,Санхүүгийн Ахлах мэргэжилтэн,"2,100,000 - 2,500,000"
43,МЭДЭЭЛЛИЙН ОПЕРАТОР,"1,000,000 - 1,200,000"
44,САЙТЫН АШИГЛАЛТ ХАРИУЦСАН ИНЖЕНЕР,"1,500,000 - 1,800,000"
45,СҮЛЖЭЭНИЙ ИНЖЕНЕР,"1,500,000 - 1,800,000"
46,ПРОГРАМ ХӨГЖҮҮЛЭГЧ,"2,500,000 - 3,000,000"
47,ПРОГРАМ ХАНГАМЖИЙН ИНЖЕНЕР - Monpay,"3,000,000 - 4,000,000 Тохиролцоно"
48,Дата инженер,"3,000,000 - 4,000,000"
49,Мэдээллийн ажилтан,"1,200,000 - 1,500,000"

In [21]:
for i in range(len(df)):
    if "Тохиролцоно" in df['Salary'][i]:
        df = df.drop(i)
df

                                       Job Titles                 Salary
0                            ТӨЛӨВЛӨЛТИЙН ИНЖЕНЕР  2,500,000 - 3,000,000
1                               Худалдааны зөвлөх  1,500,000 - 1,800,000
3               ЦАГИЙН АЖИЛ /ТЭСО ИНВЕСТМЭНТ ХХК/      500,000 - 600,000
4                    МЭДЭЭЛЭЛ ТЕХНОЛОГИЙН АЖИЛТАН  1,500,000 - 1,800,000
8                               IT System Analyst  2,500,000 - 3,000,000
9                      Холбоо дохиололийн инженер  1,500,000 - 1,800,000
10             Мэдээллийн аюулгүй байдлын шинжээч  3,000,000 - 4,000,000
11                                Төслийн менежер  1,500,000 - 1,800,000
12                                Төслийн менежер  1,500,000 - 1,800,000
14                    ГРАФИК ДИЗАЙНЕР АЖИЛД АВНА.  2,500,000 - 3,000,000
16                                       Оператор  1,200,000 - 1,500,000
17                              Сүлжээний инженер  2,500,000 - 3,000,000
18                             ПРОГРАМ ХӨГЖҮҮЛЭГЧ  3,000,000 - 4,000,000
19                        Тестэр /Коор майнд ХХК/  1,500,000 - 1,800,000
20         Мэдээлэл технологийн ажилтан /support/  1,200,000 - 1,500,000
21                               ПиАр мэргэжилтэн  1,800,000 - 2,100,000
22                               Шийдлийн инженер  2,100,000 - 2,500,000
23                         Суурилуулалтын инженер  1,800,000 - 2,100,000
24                           Хөгжүүлэгч /Backend/  3,000,000 - 4,000,000
26                 Программ хангамжийн архитектор  5,000,000 - 6,000,000
27                      Онлайн оператор (эмэгтэй)  1,000,000 - 1,200,000
28                   IT инженер (Өмнөговь салбар)  1,500,000 - 1,800,000
29                              ПРОГРАММ ТЕСТЛЭГЧ  1,200,000 - 1,500,000
30            Дотоод аудитор /Мэдээлэл технологи/  2,500,000 - 3,000,000
31  Төслийн менежер ажилд авна. /Солонгос хэлтэй/  1,800,000 - 2,100,000
32                             Back end developer  2,100,000 - 2,500,000
33                         Захиргааны мэргэжилтэн  1,800,000 - 2,100,000
34                       Ахлах програм хөгжүүлэгч  3,000,000 - 4,000,000
35                                   Дата аналист  2,100,000 - 2,500,000
36                   Утасны оператор сургаж авна.  1,200,000 - 1,500,000
37                  Худалдааны зөвлөх_Cургаж авна  1,000,000 - 1,200,000
38                                   Систем админ  2,100,000 - 2,500,000
39                             Програм хөгжүүлэгч  1,500,000 - 1,800,000
40                              Мобайл хөгжүүлэгч  1,500,000 - 1,800,000
41                     Програмын Ахлах хөгжүүлэгч  2,100,000 - 2,500,000
42                   Санхүүгийн Ахлах мэргэжилтэн  2,100,000 - 2,500,000
43                            МЭДЭЭЛЛИЙН ОПЕРАТОР  1,000,000 - 1,200,000
44              САЙТЫН АШИГЛАЛТ ХАРИУЦСАН ИНЖЕНЕР  1,500,000 - 1,800,000
45                              СҮЛЖЭЭНИЙ ИНЖЕНЕР  1,500,000 - 1,800,000
46                             ПРОГРАМ ХӨГЖҮҮЛЭГЧ  2,500,000 - 3,000,000
48                                   Дата инженер  3,000,000 - 4,000,000
49                             Мэдээллийн ажилтан  1,200,000 - 1,500,000

In [23]:
if "5,000,000 -аас дээш" in df['Salary'][i]:
        df['Salary'][i] = 5_000_000

df

                                       Job Titles                 Salary
0                            ТӨЛӨВЛӨЛТИЙН ИНЖЕНЕР  2,500,000 - 3,000,000
1                               Худалдааны зөвлөх  1,500,000 - 1,800,000
3               ЦАГИЙН АЖИЛ /ТЭСО ИНВЕСТМЭНТ ХХК/      500,000 - 600,000
4                    МЭДЭЭЛЭЛ ТЕХНОЛОГИЙН АЖИЛТАН  1,500,000 - 1,800,000
8                               IT System Analyst  2,500,000 - 3,000,000
9                      Холбоо дохиололийн инженер  1,500,000 - 1,800,000
10             Мэдээллийн аюулгүй байдлын шинжээч  3,000,000 - 4,000,000
11                                Төслийн менежер  1,500,000 - 1,800,000
12                                Төслийн менежер  1,500,000 - 1,800,000
14                    ГРАФИК ДИЗАЙНЕР АЖИЛД АВНА.  2,500,000 - 3,000,000
16                                       Оператор  1,200,000 - 1,500,000
17                              Сүлжээний инженер  2,500,000 - 3,000,000
18                             ПРОГРАМ ХӨГЖҮҮЛЭГЧ  3,000,000 - 4,000,000
19                        Тестэр /Коор майнд ХХК/  1,500,000 - 1,800,000
20         Мэдээлэл технологийн ажилтан /support/  1,200,000 - 1,500,000
21                               ПиАр мэргэжилтэн  1,800,000 - 2,100,000
22                               Шийдлийн инженер  2,100,000 - 2,500,000
23                         Суурилуулалтын инженер  1,800,000 - 2,100,000
24                           Хөгжүүлэгч /Backend/  3,000,000 - 4,000,000
26                 Программ хангамжийн архитектор  5,000,000 - 6,000,000
27                      Онлайн оператор (эмэгтэй)  1,000,000 - 1,200,000
28                   IT инженер (Өмнөговь салбар)  1,500,000 - 1,800,000
29                              ПРОГРАММ ТЕСТЛЭГЧ  1,200,000 - 1,500,000
30            Дотоод аудитор /Мэдээлэл технологи/  2,500,000 - 3,000,000
31  Төслийн менежер ажилд авна. /Солонгос хэлтэй/  1,800,000 - 2,100,000
32                             Back end developer  2,100,000 - 2,500,000
33                         Захиргааны мэргэжилтэн  1,800,000 - 2,100,000
34                       Ахлах програм хөгжүүлэгч  3,000,000 - 4,000,000
35                                   Дата аналист  2,100,000 - 2,500,000
36                   Утасны оператор сургаж авна.  1,200,000 - 1,500,000
37                  Худалдааны зөвлөх_Cургаж авна  1,000,000 - 1,200,000
38                                   Систем админ  2,100,000 - 2,500,000
39                             Програм хөгжүүлэгч  1,500,000 - 1,800,000
40                              Мобайл хөгжүүлэгч  1,500,000 - 1,800,000
41                     Програмын Ахлах хөгжүүлэгч  2,100,000 - 2,500,000
42                   Санхүүгийн Ахлах мэргэжилтэн  2,100,000 - 2,500,000
43                            МЭДЭЭЛЛИЙН ОПЕРАТОР  1,000,000 - 1,200,000
44              САЙТЫН АШИГЛАЛТ ХАРИУЦСАН ИНЖЕНЕР  1,500,000 - 1,800,000
45                              СҮЛЖЭЭНИЙ ИНЖЕНЕР  1,500,000 - 1,800,000
46                             ПРОГРАМ ХӨГЖҮҮЛЭГЧ  2,500,000 - 3,000,000
48                                   Дата инженер  3,000,000 - 4,000,000
49                             Мэдээллийн ажилтан  1,200,000 - 1,500,000

In [26]:
df = df.reset_index(drop = True)

int(df['Salary'][0].split('-')[0].replace(',', ''))

2500000

In [ ]:
for i in range(len(def)):
    lower_sal = int(df['Salary'])

### Exercise 2: Scrape `zangia.mn` Page#1 - Page#10
* Make a dataframe using `Мэдээлэл технологи, Харилцаа холбоо` category `https://www.zangia.mn/job/list/pg.1/b.4`.
* Get job listings from page 1-10. *Hint* Loop over the list of pages
* Make a dataframe and make a histogram plot using `salary` column.

In [ ]:
# Your code

### Exercise 3: Scrape `zangia.mn` Page#1 - Page#7
* Make a dataframe using `Захиргаа, Хүний нөөц` category `https://www.zangia.mn/job/list/pg.1/b.36`.
* Get job listings from page 1-7.
* Make a dataframe and make a histogram plot using `salary` column.

**WARNING** MAKE SURE YOUR LINKS ARE CORRECT!

In [ ]:
# Your code